# COLORS
# ==================
# http://www.newsbeuter.org/doc/newsbeuter.html#_configuring_colors
# https://newsboat.org/releases/<VERSION>/docs/newsboat.html#_configuring_colors
# color <element> <foreground color> <background color> [<attribute> ...]
color background          color15   black reverse
color listnormal          color59   color15
color listfocus           white     color31
color listnormal_unread   color31   color15  bold
color listfocus_unread    color31   color254 bold
color info                color15   color24  bold
color article             color59   color15
